{%  extends "layout.html" %}
{%  block body %}
    <div class="col-md-12">
        <h3>List of People</h3>
    </div>
    <div class="col-md-12">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    {%  for person in people %}
    <tr>
    <td>{{ person.fname }}</td>
    <td>{{ person.lname }}</td>
    <td>{{ person.address }}</td>
    <td>{{ person.phone }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <a href="/" class="btn btn-info">Return to main page</a>
{% endblock %}
